body {
    background: #CED4D4;
}

body, th, td {
    font-family: Helvetica;
    font-size: 10pt;
    color: #666;
}

h2 {
    color: #333;
    font-size: 22pt;
    font-family: 'Lucida Grande';
    font-weight: normal;
    text-align: center;
    text-shadow: 1px 1px 2px #fff;
}

div.content {
    border-radius: 8px;
    background: white;
    padding: 20px;
    margin: 20px;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: .5em;
    padding-left:1em;
    padding-right:1em;
    margin: 0;
}

th {
    white-space: nowrap;
    font-weight: normal;
    color: #444;
    text-align: left;
    padding-bottom: .1em;
    border-bottom: 1px solid #999;
}

tr > td:first-child { 
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

tr > td:last-child { 
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

tr.alternate td {
    background: #E9EFEF;
}

