body, th, td {
    font-family: Helvetica;
    font-size: 10pt;
    color: #666;
    background: #eee;
}

h2 {
    font-size: 12pt;
    color: #333;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: .5em;
    margin: 0;
}

th {
    font-weight: normal;
    color: #333;
    text-align: left;
    padding-bottom: .1em;
    padding-left:1em;
    padding-right:1em;
}

td {
    background: #fff;
    border: 1px solid #999;
}

tr.alternate td {
    background: #C2FBCC;
}

