<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
	    	<title>ERSolr Example</title>
	    	<wo:ERXStyleSheet filename="Main.css" />
	    	<wo:ERXStyleSheet filename="ERXFlickrBatchNavigation.css" framework="ERExtensions" />
	  </head>
	  <body>

				<h2>ERSolr Example</h2>
				
				<wo:AjaxUpdateContainer id="contentTable" class="content">
						<div id="facets">
						    <wo:form>
						    <wo:AjaxObserveField fullSubmit="$false" updateContainerID="contentTable">
						    <ul class="facetList">
						        <wo:loop item="$facet" list="$facets">
				            <li>
				                <h3><wo:str value = "$facetDisplayValue" /></h3>
				                <ul class="facetItemList">
				                    <wo:loop item="$facetItem" list ="$facetItems">
				                    <li>
				                        <wo:checkbox checked="$isFacetItemSelected" />
				                        <wo:str value = "$facetItem.key" /> (<wo:str value="$facetItem.count" />)
				                    </li>
				                    </wo:loop>
				                </ul>
				            </li>
						        </wo:loop>
						    </ul>
						    </wo:AjaxObserveField>
						    </wo:form>
						</div>
						
						<table>
						    <tr>
						        <th>PK</th>
						        <th>Price</th>
						        <th>SKU</th>
						        <th>Name</th>
						        <th>Category</th>
						        <th>Features</th>
						        <th>In Stock?</th>
						        <th>Manufacturer</th>
						        <th>Popularity</th>
						        <th>Weight</th>
						    </tr>
						    <wo:loop list="$displayGroup.displayedObjects" item="$inventoryItem" index="$rowIndex">
						    <wo:genericContainer elementName="tr" class = "$rowClass">
						        <td><wo:str value = "$inventoryItem.primaryKey" /></td>
						        <td><wo:str value = "$inventoryItem.price" /></td>
						        <td><wo:str value = "$inventoryItem.sku" /></td>
						        <td><wo:str value = "$inventoryItem.name" /></td>
						        <td><wo:str value = "$inventoryItem.category" /></td>
						        <td><ol><wo:loop list="$inventoryItem.features" item="$featureItem"><li><wo:str value="$featureItem" /></li></wo:loop></ol></td>
						        <td><wo:str value = "$inventoryItem.inStock" /></td>
						        <td><wo:str value = "$inventoryItem.manufacturer" /></td>
						        <td><wo:str value = "$inventoryItem.popularity" /></td>
						        <td><wo:str value = "$inventoryItem.weight" /></td>
						    </wo:genericContainer>
						    </wo:loop>
						</table>
				    
				    <wo:AjaxFlickrBatchNavigation parentActionName="selectBatch" currentBatchIndex="$fetchSpecification.batchNumber" maxNumberOfObjects="$maxNumberOfObjects" numberOfObjectsPerBatch="$fetchSpecification.batchSize" showPageRange="$true" />
				    
				    <div style="clear:both;">&nbsp;</div>
				</wo:AjaxUpdateContainer>
    </body>
</html>
